* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul a:hover {
    color: brown;
}

.hero {
    background-image: url('images/do.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 1rem;
}
h1{
    transition: ease-in 1000ms;
}
h1:hover{
    transform: scale(1.1);
}

.hero h1 {
    font-size: 3rem;
    margin-top: 45rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: brown;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    transition: ease-in-out 1000ms;
    margin-bottom: 10rem;
}

.btn:hover {
    background-color: #333;
    transform: scale(1.1);
}

.about  {
    justify-content: center;
    margin-top: 40px;
    color: black;
}
.contact {
    color: black;
    margin-top: 10rem;
}
footer {
    height: 50px;
    background-color: #333;
    padding: 40px 26.7rem ;
    align-items: center;
}

.button {
     display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    padding: 20px 20px;
    background-color: #333;
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: color 0.3s ;
}
button.a :hover {
    color: brown;
}
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}
.products {
    padding: 20px;
    text-align: center;
}
.products img {
    height: 60vh;
    border-radius: 10px;
    transform: ;
}